[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/django/env/bin/uwsgi -i /srv/django-diploy-test/.main/uwsgi/config.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=ALLOWED_HOSTS

[Service]

WorkingDirectory=/django/config/client
ExecStart=npm run start
Restart=always
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target